table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}
td{
    width: 5%;
    height: 8%;
    text-align: center;
}
div{
    text-align: left;
}
h2{
    text-align: center;
}
.halogenios{
    border: solid 2px;
    background-color: #A9DEF1;
}
.actinidios{
    border:solid 2px;
    background-color: #DFBDDB;
}
.semi-metal{
    border:solid 2px;
    background-color: #7BC9C3;
}
.nao-metais{
    border: solid 2px;
    background-color: #C2D971;
}
.metais-alcalinos {
    border: solid 2px;
    background-color: #F2C36B;
}
.metais-alcalino-terrosos {
    border: solid 2px;
    background-color: #EFE462;
}
.exemplo{
    border: solid 2px;
}
.metais-transicao {
    border: solid 2px;
    background-color: #F2B6BB;
}
.gases-nobres {
    border: solid 2px;
    background-color: #6AAED9;
}
.lantanideos {
    border: solid 2px;
    background-color: #96D9D9;
}
.outros-metais {
    border: solid 2px;
    background-color: #A4C7D2;
}
.legendae{
    border: solid 2px;
}
.legenda{
    border: solid 2px;
}
#lgn{
    background-color: #6AAED9;
}
#lnm{
    background-color: #C2D971;
}
#lma{
    background-color: #F2C36B;
}
#lsm{
    background-color: #7BC9C3; 
}
#lom{
    background-color: #A4C7D2;
}
#ll{
    background-color: #96D9D9;
}
#la{
    background-color: #DFBDDB;
}
#lmt{
    background-color: #F2B6BB;
}
#lh{
    background-color: #A9DEF1;
}
#lmat{
    background-color: #EFE462;
}









.n57-71{
    
}
.n89-103{
    
}
